// .course-invoice-container {
//     display: block;
//     margin: 8px;
//   }
  
  .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 13px;
    line-height: 25px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  
    table {
      width: 100%;
      line-height: inherit;
      text-align: left;
  
      td {
        padding: 5px;
        vertical-align: top;
        padding-bottom: 5px;
      }
  
      tr.top td {
        padding-bottom: 20px;
      }
  
      tr.heading-invoice td {
        background: #f8f8f8;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        text-align: left;
      }
  
      tr.item td {
        border-bottom: 1px solid #eee;
        text-align: left;
      }
  
      td.sig-container {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
      }
    }
  }
  
  .images {
    text-align: left;
    margin-top: 0;
  }
  
  .innum {
    font-size: 10px;
    text-align: right;
    color: #b7b7b7;
    line-height: 18px;
  }
  
  h1 {
    font-size: 30px;
    color: #b7b7b7;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .invoice-box {
    td:nth-child(2) {
      text-align: right;
    }
  
    .infoleft {
      font-size: 18px;
      text-align: left;
      margin-bottom: 0;
    }
  
    .innumleft {
      font-size: 10px;
      text-align: left;
      color: #b7b7b7;
      margin-top: 0;
      line-height: 18px;
    }
  
    .bb {
      border-bottom: 1px solid #ddd;
    }
  
    .inforight {
      font-size: 18px;
      text-align: right;
      margin-bottom: 0;
    }
  
    .innumright {
      font-size: 10px;
      text-align: right;
      color: #b7b7b7;
      margin-top: 0;
      line-height: 18px;
    }
  }
  