// Import all of Bootstrap's CSS
// @import "bootstrap/scss/bootstrap";
// @import '@fontsource/roboto/300.css';
// @import '@fontsource/roboto/400.css';
// @import '@fontsource/roboto/500.css';
// @import '@fontsource/roboto/700.css';

@import "assets/scss/style.scss";
.nav {

    --bs-nav-link-color: #343a40;

}

.nav-underline {
    --bs-nav-underline-link-active-color: #b66dff
}
.nav-link:hover, .nav-link:focus {
    color: #b66dff;
}
.border {
    border: 1px solid #c3c3c8 !important;
}

.seatmark {
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 50%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #b1b1b1;
    background: linear-gradient(to right, #da8cff, #9a55ff);
    color: whitesmoke;
    cursor: default;
}

.seat {
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 50%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #9c9fa6 ;
    /* background-color: #4b0dba; */
    background-color: #9c9fa6 ;
    color: black;
    cursor: pointer;
}
.css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 1.5rem !important;
}
.fw-bold {
    font-weight: 600 !important;
}
.border-dashed {
    border-style: dashed !important;
    border-color: var(--bs-border-dashed-color);
}
.border-gray-300 {
    border-color: var(--bs-gray-300) !important;
}
.text-gray-500 {
    color: var(--bs-text-gray-500) !important;
}

.fw-semibold {
    font-weight: 500 !important;
}
.h-5px{
    height: 5px;
}

.w-200px {
    width: 200px !important;
}

@media (min-width: 576px) {
    .w-sm-300px {
        width: 300px !important;
    }
}
.mb-7 {
    margin-bottom: 1.75rem !important;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #b66dff !important;
}
.css-1qltlow-MuiTabs-indicator{
    background-color: #b66dff !important;
}

// .css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
//     background-color: #b66dff !important;
// }
// .css-17jyosd-MuiSwitch-thumb {
//     background: linear-gradient(to right, #da8cff, #9a55ff) !important; 
// }